
/* code mirror syntax styling */
/* #428bca */
.cm-xn-hashtag { font-weight: bold; color: #48c; }
.cm-xn-persontag { font-weight: bold; color: #2b4; }
.cm-xn-maptag { font-weight: bold; color: #E52641; }
.cm-xn-relatestag { font-weight: bold; color: #A726E5; }

.cm-xn-hashtag, .cm-xn-persontag, .cm-xn-maptag, .cm-xn-relatestag {
	cursor: pointer;
}

.relatedIdeaNode { 
	color: #A726E5;
	border: 1px solid #562170;
	background-color: #3D015A;
	cursor: pointer;
	margin: 1px;
}

.cm-xn-link { color: #FFB600;  } 
.cm-xn-link:hover { color: #D8A320; cursor: pointer;}  
.xn-suggestionbox-bg { background-color: white;}


/*background-image: linear-gradient(to bottom, #eee 0%, white 100%);*/ 

.CodeMirror-activeline-background { background: rgb(40, 39, 36);}

/*
.xn-newidea-line-a {background-color: rgb(40, 39, 36);}
.xn-currentidea-line-a {background-color: rgb(40, 39, 36);}
.xn-empty-line-1-a {background-color: rgb(40, 39, 36);}
.xn-empty-line-2-a {background-color: rgb(40, 39, 36);}
.xn-empty-line-3-a {background-color: rgb(40, 39, 36);}

.xn-newidea-line-b {background-color: rgb(40, 39, 36);}
.xn-currentidea-line-b {background-color: rgb(40, 39, 36);}
.xn-empty-line-1-b {background-color: rgb(40, 39, 36);}
.xn-empty-line-2-b {background-color: rgb(40, 39, 36);}
.xn-empty-line-3-b {background-color: rgb(40, 39, 36);}*/
/*

.xn-newidea-line-b {background-color: rgb(19, 19, 17);}
.xn-currentidea-line-b {background-color: rgb(19, 19, 17);}
.xn-empty-line-1-b {background-color: rgb(19, 19, 17);}
.xn-empty-line-2-b {background-color: rgb(20, 19, 17);}
.xn-empty-line-3-b {background-color: rgb(20, 19, 17);}

*/




/*

.xn-empty-line {background-color: #eee;}
.xn-empty-line-2 {background-color: white;}
.xn-newidea-line {background-color: #eee ;}
.xn-currentidea-line{background-color: #eee ;}

*/